{
  "baseURL": "",
  "token": "",
  "usernames": [
  ],
  "projectIds": [
  ],
  "labelsToExclude": "",
  "orphanIssues": true,
  "wipMergeRequests": true,
  "logoURL": "https://about.gitlab.com/images/press/logo/png/gitlab-logo-white-rgb.png"
}
